*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background:#b0f2f1 ;
    font-weight: 600;
    font-size: 30px;
    margin-right: 4vh;
    text-align: right;

}
p
{
font-size: 30px;
color: rgb(169, 14, 14);
margin-right: 2vh;
text-align: right;
}
